@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Rubik Bot</h1>

This app simulates the following functions when playing with a Rubik's cube.

<table>
    
    <tr>
        <td>F</td>
        <td>Front face clockwise 90°</td>
    </tr>
    <tr>
        <td>R'</td>
        <td>Right face anti-clockwise 90°</td>
    </tr>
    <tr>
        <td>U</td>
        <td>Up face clockwise 90°</td>
    </tr>
    <tr>
        <td>B'</td>
        <td>Back face anti-clockwise 90°</td>
    </tr>
    <tr>
        <td>L</td>
        <td>Left face clockwise 90°</td>
    </tr>
    <tr>
        <td>D'</td>
        <td>Down face anti-clockwise 90°</td>
    </tr>
</table>
